* {
  box-sizing: border-box;
  font-family: "Roboto";
  max-width: 615px;
}

body {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

header {
  background-color: #cf2b2b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: "Righteous";
  font-size: 44px;
  font-weight: 300;
  color: #ffff;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: #ffff;
}

main {
  width: 100%;
  margin-top: 130px;
  margin-left: 20px;
}

.principal > h1 {
  font-family: "Righteous";
  font-size: 26px;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
}

.pratos {
  display: flex;
  overflow-x: scroll;
}

.prato {
  background-color: #ffff;
  margin-right: 20px;
  width: 172px;
  height: 216px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
}

.prato > h1 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prato > span {
  font-size: 15px;
  font-weight: 200;
  color: #a6a6a6;
}

.prato > p {
  font-size: 16px;
  font-weight: 400;
  color: black;
  padding-top: 10px;
}

img {
  width: 144px;
  height: 87px;
  border-radius: 5px;
}

.drink > h1 {
  font-family: "Righteous";
  font-size: 26px;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  margin-top: 20px;
}

.bebidas {
  display: flex;
  overflow-x: scroll;
}

.bebida {
  background-color: #ffff;
  margin-right: 20px;
  width: 172px;
  height: 216px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
}

.bebida > h1 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bebida > span {
  font-size: 15px;
  font-weight: 200;
  color: #a6a6a6;
}

.bebida > p {
  font-size: 16px;
  font-weight: 400;
  color: black;
  padding-top: 10px;
}

.desert > h1 {
  font-family: "Righteous";
  font-size: 26px;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  margin-top: 20px;
}

.sobremesas {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 100px;
}

.sobremesa {
  background-color: #ffff;
  margin-right: 20px;
  width: 172px;
  height: 216px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
}

.sobremesa > h1 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sobremesa > span {
  font-size: 15px;
  font-weight: 200;
  color: #a6a6a6;
}

.escolhido {
  border: 5px solid #32b72f;
  padding: 0px 8px;
}

.escolhido > .visto img {
  opacity: 10;
}

.visto {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visto img {
  width: 20px;
  height: 20px;
  opacity: 0;
}

footer {
  background-color: #ffff;
  width: 100%;
  height: 92px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao {
  background-color: #cbcbcb;
  border: none;
  border-radius: 50px;
  width: 364px;
  height: 61px;
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
}

.ativado {
  background-color: #32b72f;
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  position: absolute;
}

.pedido {
  background-color: #50d074;
  width: 377px;
  height: 353px;
  border-radius: 10px;
}

.pedido h1 {
  font-size: 22px;
  font-family: "Roboto";
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 30px;
}

.pratoSelecionado {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.bebidaSelecionada {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.sobremesaSelecionada {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.total {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #ffff;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certo {
  margin-bottom: 10px;
  width: 329px;
  height: 52px;
  background-color: #ffff;
  border: none;
  border-radius: 50px;
  color: #50d074;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.cancelar {
  width: 329px;
  height: 52px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #ffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.escondido {
  display: none;
}

.desfoco {
  opacity: 0.15;
}
